

@media screen and (max-width: 375px){
    h1 {
        color: grey;
    }
}

h1, h2, h3 {
    text-align: center;
}

p {
    font-size: 1em;
    line-height: 2em;
}

#title {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: lighter;
}

#header {
    text-align: center;
}

#image-figure {
    text-align: center;
}

#image {
    display: block;
    margin: 0 auto;
}
